[run]
branch = True
source = pathme
omit =
    src/pathme/__main__.py
    src/pathme/cli.py
    tests/*
    docs/*

[paths]
source =
    src/pathme
    .tox/*/lib/python*/site-packages/pathme

[report]
show_missing = True
exclude_lines =
    def __str__
    def __repr__
