[run]
branch = True
source = compath
omit =
    src/compath_reloaded/__main__.py
    src/compath_reloaded/cli.py
    tests/*
    docs/*

[paths]
source =
    src/compath
    .tox/*/lib/python*/site-packages/compath

[report]
show_missing = True
exclude_lines =
    def __str__
    def __repr__
