#########################
# Flake8 Configuration  #
# (.flake8)             #
# (formerly in tox.ini) #
#########################

[flake8]
ignore =
    W503 # line break before binary operator
    S403 # Pickle security
    S301 # Pickle security
    S405 # xml security
    S314 # xml security
	F405 # Stars import
	C901 # too complex methods
	E125 # Long or in if statements
	I202 # Import order group

exclude =
    .tox,
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    dist,
    tests/fixtures/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs
max-complexity = 20
max-line-length = 120
import-order-style = pycharm
application-import-names =
    pathme
    pybel
    pybel_tools
    bio2bel
    bio2bel_hgnc
    bio2bel_chebi
    bio2bel_wikipathways
    bio2bel_kegg
    bio2bel_reactome
    tests
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
